body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(200, 157, 253);
    user-select: none;
}

h2{
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.2em; 
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: rgb(124,26,79);
    background: linear-gradient(
        204deg, 
        rgba(124,26,79,1) 5%, 
        rgba(25,25,179,1) 49%, 
        rgba(230,8,229,1) 91%
    );
    padding: 40px 60px;
}

.reset{
    padding: 20px 30px;
    width: 60%;
    color: rgb(11, 11, 11);
    background-color: #fff;
    border: none;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    cursor: pointer;
}

.reset:hover{
    color: #e612b8;
    background-color: rgb(0, 0, 0);
}

.game{
    border: 1px solid red;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 300px;
}

.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;

    font-size: 3em;
    transform: rotateY(180deg);
    transition: transform 0.5s ease-out;
}
/* Animação do card */
.item.animate{
    transform: rotateY(0deg);
}

.item::after{
    content: "";
    position: absolute;
    inset: 0;
    background-color: #404040;
    transition: 0.5s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.item.boxOpen{
    transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after{
    transform: rotateY(180deg);
}